<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
    <title th:text="'Q&A - ' + ${question.name}"></title>
</head>
<body>
    <div layout:fragment="content">
        <span id="errorMsg" th:if="${errorMsg}" th:text="${errorMsg}"></span>
        <div th:if="${question}">
            <h2 th:text="${question.name}"></h2>
            <p th:text="${question.content}"></p>
            <p th:text="'Posted by ' + ${question.user}"></p>
        </div>
        <div>
            <h2>Answers:</h2>
        </div>
    </div>
    </body>
</html>